#Targets directry
_targets

#All pipeline output
*/out/*
!*/*/.placeholder.txt

#R files
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rproj.user
